<nav class="navbar navbar-ct-primary">
    <div class="container">
      <div class="navbar-header">
        <div class="row">
          <div class="col-md-1" style="margin-top:5%">
            <i class="fa fa-ticket fa-4x"></i>
          </div>
          <div class="col-md-11">
            <h2>&nbsp;&nbsp;Ticketing System</h2>
            <h3>Public Transportation Sri Lanka</h3>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse" style="margin-right:0%">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a (click)="logout()" target="_blank" class="btn btn-simple">
              <i class="fa fa-sign-out"></i>&nbsp;Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="navbar">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/home']">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-center">
            <li *ngFor="let option of options">
              <a [routerLink]="[option.path,userId]">{{option.title}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
